body {
    font-family: 'Roboto', sans-serif;
}

.splash-page-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr/*8fr 2fr*/;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}


.logo-styling .logo-image {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 700px;
    max-height: 700px;

    object-fit: contain;

    animation: spin 1.5s infinite;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0.7;
    transform: scale(0.5);
    grid-row: 1;

}

.logo-styling {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg) scale(0.5);
    }
    to {
        transform: rotate(360deg) scale(0.5);
    }

}

.footer-styling {

    color: #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 14px;

    grid-row: 2;
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 0 5px;
    animation: growDot 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes growDot {
    0%, 100% {
        transform: scale(1);

    }
    50% {
        transform: scale(1.5);
    }

}


/*Home Page CSS*/

.home-page-grid-container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 15% 5% 70% 10%;
    height: 100vh;
    grid-template-areas:
    "logo header header"
    "nav nav tickerTitle"
    "nav nav ticker"
    "footer footer footer";
    gap: 10px;
}

.home-logo-cont {
    grid-area: logo;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.home-title-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: header;
    text-align: center;

    font-size: 3em;

    border: 2px solid black;
}

.home-calc-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;
    grid-area: nav;
    text-align: center;
    border: 2px solid black;
}

.home-ticker-title-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: tickerTitle;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
}

.home-ticker-cont {
    grid-area: ticker;
    text-align: center;
    border: 2px solid black;
}

.footer-styling {
    grid-area: footer;
    border: 2px solid black;
}

.gen-app-foot-style {
    text-align: center;

}

.nav-button {
    /* Basic button styling */
    padding: .5vw 3vw;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* Rounded corners */
    border-radius: 25px;

    /* Metallic blue background */
    background: linear-gradient(145deg, #3a7bd5, #2e55a4);

    /* Box shadow for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* Reflection effect */
    position: relative;
    overflow: hidden;
    z-index: 1;

    transition: transform 0.2s ease, box-shadow 0.1s ease;

}

.nav-button:active {
    transform: scale(0.95); /* Slightly scale down the button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adjust the shadow for depth effect */
}

.nav-button::after {
    content: "";
    position: absolute;
    top: -80%;
    left: -210%;
    width: 200%;
    height: 200%;
    background: linear-gradient(235deg, rgba(255, 255, 255, 0.4), transparent 50%);
    transform: rotate(45deg);
    pointer-events: none;
    z-index: -1;
}

.nav-button:hover {
    background: linear-gradient(145deg, #357ac9, #2a4890);
}

.home-logo-styling {

    width: 100%;
    height: auto;
    object-fit: contain;
}

.ticker-value {
    /* Basic styling for ticker values */
}

.ticker-up {
    animation: flashGreen 1s;
}

.ticker-down {
    animation: flashRed 1s;
}

@keyframes flashGreen {
    from { background-color: lightgreen; }
    to { background-color: transparent; }
}

@keyframes flashRed {
    from { background-color: lightcoral; }
    to { background-color: transparent; }
}